<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load socialaccount %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <link rel="stylesheet" href="{% static 'tutors/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <nav class="navbar">
            <img src="{% static 'tutors/images/FinalLogo.png' %}" alt="HoosTutoring Logo" class="navbar-logo">
            <div class="navbar-links">
                <a href="/tutors/" class="navbar-link">PROFILE</a>
                <a href="/tutors/sis_search" class="navbar-link">ADD COURSE</a>
                <a href="/tutors/show_requests" class="navbar-link">MY REQUESTS</a>
                <a href="/tutors/schedule" class="navbar-link">SCHEDULE</a>
            </div>
            {% if user.is_authenticated %}
            <button class="navbar-logout" onclick="window.location='/login/logout'">LOGOUT</button>
            {% else %}
            <h1>YOU ARE NOT AUTHORIZED</h1>
            <a href="/login">Return To Log In</a>
            {% endif %}
        </nav>
        <div class="middle">

            <div class="request-container">
                <div class="title-box rounded-box">
                <h1>MY STUDENT REQUESTS</h1>
            </div>

                <div class="request-list">
                    {% if requests %}
                    <ul>
                        {% for request in requests %}
                        {% if not request.accepted and not request.rejected %}
                        <li>
                            <div class="request rounded-box">
                                <div class="request-details">
                                    <span class="tutor-name">{{ request.student }}</span>
                                    <span class="course-id">{{ request.course }}</span>
                                </div>
                                <div class="request-status">
                                    <!-- <button class="delete-button">
                                        <a href="">
                                            <img src="../../static/tutors/images/trashcan.png" alt="Delete">
                                        </a>
                                    </button> -->
                                    <span class="status accepted"><a
                                            href="{% url 'tutors:accept_request' request.id %}">Accept</a></span>
                                    <span class="status rejected"><a
                                            href="{% url 'tutors:reject_request' request.id %}">Reject</a></span>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No tutor requests found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        <footer>
            <p>&copy; 2023 A-23</p>
        </footer>
</body>

</html>